body {
    background-image: url("assets/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-color:rgb(250, 253, 255);
    font-family: sans-serif;
}

h1,h2,
h4,h5 {
    text-align: center;
}

div {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: stretch;
    justify-content: space-around;
}

div>input {
    margin: 10px;
    padding: 10px;
}

button {
    padding: 16px;
    font-size: 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid darkblue;
}

button:hover {
    background-color: darkblue;
    color: white;
}

div {
    border-radius: 0.3em;
    border: solid 1px darkblue;
    background-color: aliceblue;
    opacity: 0.8;
}

.alumnado {
    padding: 10px;
    width: 100%;    
}
.actividades {   
    padding: 10px;        
    width: 100%; 
}
.actividades option {
    width: 100%;
}

textarea {margin-top: 10px; margin-bottom: 10px;}
